body {
    margin: 0;
    padding: 0;
    background: #e0e0e0;
    height: 100vh;
}

nav {
    height: 6vh;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.containerLogoSearch {
    display: flex;
    align-items: center;
    justify-content: center;
}

#iconeFacebook {
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.containerInput {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    background: #e0e0e0;
    margin-left: 10px;
}

#iconeLupa {
    width: 20px;
    height: 20px;
}

.containerInput input {
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
    background: #e0e0e0;
    font-size: 1rem;
    color: #5c5c5c;
}

.iconeHamburguer {
    display: none;
}

.listaMenuLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listaMenuLinks li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.listaMenuLinks a {
    padding: 10px 50px;
}

.listaMenuLinks a:hover {
    text-decoration: none;
    background: #ebebeb;
    border-radius: 10px;
}

.listaMenuLinks a:active {
    border-bottom: 5px solid #245eff;
    background: #f5f5f5;
    border-radius: 0;
}

.listaMenuLinks img {
    width: 25px;
    height: 25px;
}

.containerListaUtilidade {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.listaUtilidades {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listaUtilidades li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 10px;
}

.listaUtilidades a {
    padding: 8px 10px;
    border-radius: 50%;
    background: #e0e0e0;
}

.listaUtilidades a:hover {
    background: #d6d6d6;
}

.listaUtilidades a:active {
    background: #e0e0e0;
}

.listaUtilidades img {
    width: 20px;
    height: 20px;
}

.iconePerfil img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media screen and (min-width: 701px) and (max-width: 1259px) {
    .containerInput {
        width: 40px;
        height: 40px;
    }
    
    #iconeLupa {
        width: 20px;
        height: 20px;
    }

    .iconeHamburguer {
        display: none;
    }
    
    .containerInput input {
        display: none;
    }

    .listaMenuLinks a {
        padding: 10px 10px;
    }
}

@media screen and (max-width: 700px) {
    .containerLogoSearch {
        justify-content: space-between;
    }

    .containerInput {
        width: 40px;
        height: 40px;
    }
    
    #iconeLupa {
        width: 20px;
        height: 20px;
    }
    
    .containerInput input {
        display: none;
    }

    .iconeHamburguer {
        display: flex;
        cursor: pointer;
        width: 25px;
        height: 25px;
        padding: 10px 10px;
    }

    .linkHamburguer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }

    .linkHamburguer:hover {
        background: #e0e0e0;
        border-radius: 8px;
    }

    .listaMenuLinks a {
        display: none;
    }
}
